<div class="centerPhotos">
<% if @photographs.any? %>
  <% @photographs.each do |photograph| %>
    <div class="photographs">
      <h2> <%= link_to photograph.name, photograph_path(photograph) %> </h2>
      <%= link_to image_tag(photograph.image.url(:thumb)), photograph_path(photograph), :method => :get %>
        <p><%= link_to "Admire #{photograph.name}", photograph_admiration_index_path(photograph), class: 'admirations-link' %>
        <span class="admirations_count"> <%= photograph.admirations.count %> </span> <%= 'admirations'.pluralize(photograph.admirations.count) %></p>
  </div>
  <% end %>
<% else %>
  No photographs yet
<% end %>
</div>
