<% if @photograph.errors.any? %>
  <section id="errors" >
    <h2> <%= pluralize(@photograph.errors.count, "error") %> prohibited this photograph from being saved: </h2>
    <ul>
      <% @photograph.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
<h4>Add A Photograph</h4><br>
<%= form_for @photograph, html: {multipart: true} do |f| %>
  <div class="choosePhoto"><%= f.file_field :image %></div><br>
  <div class="namePhoto"><%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %></div>
<% end %>
