<h2><%= @photograph.name %></h2>
  <%= image_tag @photograph.image.url(:medium) %>
  <% if @photograph.user == current_user %>
    <%= link_to "Edit #{@photograph.name}", edit_photograph_path(@photograph) %> <%= link_to "Delete #{@photograph.name}", photograph_path(@photograph), method: :delete %>
    <p><%= link_to "Comment on #{photograph.name}", new_photograph_comment_path(photograph)%></p>
  <% else %>
    <p>Sign in to edit</p>
  <% end %>
<h4>Comments:</h4>
  <% @photograph.comments.each do |comment| %>
    <li><%= comment.thoughts %></li>
  <% end %>
